birdd
bird
.vscode
.vs
.idea
build
deps/pcre2/.libs
deps/pcre2/doc
deps/pcre2/testdata
deps/pcre2/src/.libs
deps/pcre2/src/.deps
deps/pcre2/src/*.lo
deps/pcre2/src/*.o
deps/pcre2/*.log
deps/pcre2/*.status
deps/pcre2/src/stamp-*
deps/pcre2/libtool
Debug/*
Release/*
.DS_Store
birdd.exe
bird.exe
*.dll
*.stackdump