<!DOCTYPE html>
<html lang="en">
<head>
  <include x-path="inc/meta.html" />
  <title>{{ uri|file_title }} - Nyssa Package Manager</title>
</head>
<body class="has-head-color no-foot-color">
  <include x-path="inc/header.html" />

  <section class="container py-6">
    <div class="columns is-justify-content-center">
      <div class="column is-one-quarter">
        <aside class="menu">
          <p class="menu-label">
            Docs
          </p>
          <ul class="menu-list">
            <li x-for="doc_files" x-value="f">
              <a class="is-active" x-if="f|no_ext|is=uri" href="/docs/{{ f|no_ext }}">{{ f|file_title }}</a>
              <a x-not="f|no_ext|is=uri" href="/docs/{{ f|no_ext }}">{{ f|file_title }}</a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="column is-three-quarters pl-6">
        <div class="content doc">{{ content|draw }}</div>
      </div>
    </div>
  </section>

  <include x-path="inc/footer.html" />
</body>
</html>