<!DOCTYPE html>
<html lang="en">
<head>
  <include x-path="inc/meta.html" />
  <title>Login - Nyssa Package Manager</title>
</head>
<body class="no-term-color">
  <include x-path="inc/header.html" />

  <section class="columns is-justify-content-center">
    <form class="column is-one-quarter py-4 my-2" method="POST" action="/auth">
      <div class="has-text-centered mb-6">
        <include x-path="inc/logo.html" />
      </div>

      <article class="message is-danger" x-if="error">
        <div class="message-body"><small>Invalid Credentials</small></div>
      </article>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Username" name="username">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Password" name="password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="control">
        <button class="button is-primary is-fullwidth" type="submit">Login to Publisher account</button>
      </div>
      <div class="control mt-4">
        <a href="/forgot-password">I forgot my password</a>
      </div>
      <div class="box mt-4">
        <small>To create an account, run the following command from your local installation:</small>
        <br>
        <code>nyssa account create</code>
      </div>
    </form>
  </section>

  <include x-path="inc/footer.html" />
</body>
</html>