<!DOCTYPE html>
<html lang="en">
<head>
  <include x-path="inc/meta.html" />
  <title>404 - Nyssa Package Manager</title>
</head>
<body class="no-term-color">
  <include x-path="inc/header.html" />

  <section class="columns is-justify-content-center py-6 my-6">
    <div class="column is-half">
      <div class="content has-text-centered">
        <div class="title is-size-1">404</div>
        <div class="subtitle">The page you are looking for cannot be found.</div>
      </div>
    </div>
  </section>

  <include x-path="inc/footer.html" />
</body>
</html>