<!DOCTYPE html>
<html lang="en">
<head>
  <include x-path="inc/meta.html" />
  <title>@{{ user.username }} - Change Password - Nyssa Package Manager</title>
</head>
<body class="no-term-color">
  <include x-path="inc/header.html" />

  <section class="columns is-justify-content-center">
    <form class="column is-one-quarter py-4 my-2" method="POST" action="/update-password" autocomplete="off">

      <input autocomplete="false" type="password" style="display:none;">
      <div class="has-text-centered mb-6">
        <include x-path="inc/logo.html" />
      </div>

      <h3 class="has-text-centered is-size-4 mb-3">Change Password</h3>

      <article class="message is-danger" x-if="error">
        <div class="message-body" x-if="error|is='1'"><small>Please enter a new password!</small></div>
        <div class="message-body" x-if="error|is='2'"><small>Passwords do not match!</small></div>
        <div class="message-body" x-if="error|is='3'"><small>Something went wrong! Please try again later.</small></div>
      </article>
      
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="New Password" name="password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Confirm New Password" name="password-confirm">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="control">
        <button class="button is-primary is-fullwidth" type="submit">Change Password</button>
      </div>
    </form>
  </section>

  <include x-path="inc/footer.html" />
</body>
</html>