<!DOCTYPE html>
<html lang="en">
<head>
  <include x-path="inc/meta.html" />
  <title>{{ query }} - Nyssa Package Manager</title>
</head>
<body class="">
  <include x-path="inc/header.html" />
  <div class="has-background-primary-light px-6 pb-5 divide navi">
    <include x-path="inc/search-bar.html" />
  </div>
  
  <section class="py-6">
    <div class="container">
      <div class="columns">
        <form class="column is-one-quarter" name="sortform">
          <div class="content">
            <div class="title">Sort by</div>
          </div>
          <div class="control">
            <div>
              <label class="radio">
                <input type="radio" name="order" value="name" x-if="sort|sort_name" checked>
                <input type="radio" name="order" value="name" x-not="sort|sort_name">
                Name
              </label>
            </div>
            <div>
              <label class="radio">
                <input type="radio" name="order" value="downloads" x-if="sort|sort_download" checked>
                <input type="radio" name="order" value="downloads" x-not="sort|sort_download">
                Downloads
              </label>
            </div>
            <div>
              <label class="radio">
                <input type="radio" name="order" value="created_at" x-if="sort|sort_created" checked>
                <input type="radio" name="order" value="created_at" x-not="sort|sort_created">
                Date Created
              </label>
            </div>
          </div>
        </form>
        <div class="column is-three-quarters">
          <div class="mb-4" x-if="result.packages">
            Showing result {{ result.start|plus_one }} to {{ result.end }} of {{ result.total }} (page {{ result.page }} of {{ result.pages }})
          </div>
          <div class="search-result">
            <div class="search-item" x-for="result.packages" x-value="package">
              <div class="title">
                <a href="/view/{{ package.name }}">{{ package.name }}</a>
              </div>
              <div class="subtitle">
                <a href="/search?q={{ package.publisher }}">@{{ package.publisher }}</a> published <span>{{ package.version }}</span> at <span>{{ package.created_at }}</span> with <span>{{ package.download|format_number }}</span> downloads
              </div>
              <div class="content">
                <div>
                  <span x-if="package.description">
                    {{ package.description|strip_line }}
                  </span>
                  <em x-not="package.description">No description.</em>
                </div>
                <div class="tags mt-4" x-if="package.tags">
                  <a href="/search?q={{ tag }}" class="tag is-light" x-for="package.tags" x-value="tag">{{ tag }}</a>
                </div>
              </div>
            </div>
            <div class="has-text-centered" x-not="result.packages">
              No package found matching the term "{{ query }}"
            </div>
          </div>
          <nav class="pagination mt-6" role="navigation" aria-label="pagination" x-if="result.packages">
            <ul class="pagination-list">
              <li x-for="pages" x-value="p">
                <a x-if="p.active" class="pagination-link is-current" aria-label="Goto page {{ p.page }}">{{ p.page }}</a>
                <a x-not="p.active" href="/search?q={{ query }}&page={{ p.page }}" class="pagination-link" aria-label="Goto page {{ p.page }}">{{ p.page }}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <include x-path="inc/footer.html" />

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var rad = document.sortform.order;
      var prev = null;
      for (var i = 0; i < rad.length; i++) {
        rad[i].addEventListener('change', function() {
          if (this !== prev) {
            prev = this;
          }
          document.searchform.sort.value = this.value
          document.searchform.submit()
        });
      }
    })
  </script>
</body>
</html>