<!DOCTYPE html>
<html lang="en">
<head>
  <include x-path="inc/meta.html" />
  <title>{{ name }} - Nyssa Package Manager</title>
</head>
<body class="">
  <include x-path="inc/header.html" />
  <div class="has-background-primary-light px-6 pb-5 divide navi">
    <include x-path="inc/search-bar.html" />
  </div>
  <div class="notification is-warning is-small clean" x-if="package.deleted_at">This package or version is archived.</div>
  
  <section class="py-6">
    <div class="container">
      <div class="columns">
        <div class="column is-two-third pr-6">
          <div class="content" x-if="package">
            <div class="title mb-2">{{ package.name }}</div>
            <div>
              <div class="tags">
                <span class="tag has-text-weight-bold">{{ package.version }}</span> 
                <a class="tag has-text-weight-bold" href="/search?q={{ package.publisher }}">@{{ package.publisher }}</a>
                <span class="tag has-text-weight-bold">{{ package.created_at }}</span>
              </div>
            </div>
            <div class="tabs main-tab">
              <ul class="ml-0 pl-0">
                <li class="is-active" tab-id="readme"><a>ReadMe</a></li>
                <li tab-id="dependencies"><a>Dependencies</a></li>
                <li tab-id="versions" x-not="version"><a>Versions</a></li>
              </ul>
            </div>
            <div id="readme-content">{{ package.readme|draw }}</div>
            <div x-not="version" id="versions-content" class="is-hidden">
              <ul x-if="package.versions">
                <li x-for="package.versions" x-key="name" x-value="ver">
                  <a href="/view/{{ package.name }}@{{ ver.version }}">{{ package.name }} - {{ ver.version }}</a>
                </li>
              </ul>
              <ul x-not="package.versions">
                <li>
                  <a href="/view/{{ package.name }}@{{ package.version }}">{{ package.name }} - {{ package.version }}</a>
                </li>
              </ul>
            </div>
            <div id="dependencies-content" class="is-hidden">
              <ul x-if="package.deps">
                <li x-for="package.deps" x-key="name" x-value="version">
                  <a href="/view/{{ name }}@{{ version }}">{{ name }} - {{ version }}</a>
                </li>
              </ul>
              <em x-not="package.deps">Package has no dependencies.</em>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="content">
            <div class="title is-4">Install</div>
            <pre class="has-icon">
              <span class="code" id="install-command" x-not="version">nyssa install {{ package.name }}</span>
              <span class="code" id="install-command" x-if="version">nyssa install {{ package.name }}@{{ package.version }}</span>
              <span data-tip="Copied!" class="icon" id="copy-command">
                <i class="far fa-copy"></i>
              </span>
            </pre>
            <div class="title is-4 mt-6">Details</div>
            <div x-if="package.description">{{ package.description|strip_line }}</div>
            <div x-not="package.description"><em>No Description.</em></div>
            <div class="tags mt-4" x-if="package.tags">
              <a href="/search?q={{ tag }}" class="tag is-light" x-for="package.tags" x-value="tag">{{ tag }}</a>
            </div>
            <div class="title is-5 mb-2 mt-5" x-if="package.homepage">Homepage</div>
            <div x-if="package.homepage">
              <a target="_blank" href="{{ package.homepage }}">{{ package.homepage }}</a>
            </div>
            <div class="mt-4"><strong>License:</strong> <span>{{ package.license }}</span></div>
            <div class="mt-4"><strong>Downloads:</strong> <span>{{ package.download }}</span></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <include x-path="inc/footer.html" />

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var tabLinks = document.querySelectorAll('.main-tab li')
      tabLinks.forEach(function(link) {
        link.addEventListener('click', function() {
          var tab = document.getElementById(link.getAttribute('tab-id') + '-content')

          // clear state
          tabLinks.forEach(function(tl) {
            tl.classList.remove('is-active')
            document.getElementById(tl.getAttribute('tab-id') + '-content').classList.add('is-hidden')
          })

          // set current state
          link.classList.add('is-active')
          tab.classList.remove('is-hidden')
        })
      })

      var installCommand = document.getElementById('install-command').innerText

      function notifyCopied() {
        var el = document.getElementById('copy-command')
        el.classList.add('open')
        setTimeout(function() {
          el.classList.remove('open')
        }, 1500)
      }

      function copyInstallCommand() {
        if(navigator.clipboard) {
          navigator.clipboard.writeText(installCommand)
          notifyCopied()
        } else {
          var textArea = document.createElement("textarea")
          textArea.value = installCommand
          textArea.style.opacity = 0
          document.body.appendChild(textArea)
          textArea.focus()
          textArea.select()

          try {
            var successful = document.execCommand('copy')
            if(successful) {
              notifyCopied()
            }
          } catch (err) {
          }

          document.body.removeChild(textArea);
        }
      }

      document.getElementById('copy-command').addEventListener('click', copyInstallCommand)
    })
  </script>
</body>
</html>