<footer class="footer">
  <div class="content">
    <div class="columns">
      <div class="column is-one-quarter has-text-right f-logo">
        <img src="/static/images/logo.png" width="56px" class="vertical-middle" />
      </div>
      <div class="column is-three-quarter">
        <nav>
          <a href="https://bladelang.com">Blade</a>
          <span></span>
          <a href="https://github.com/blade-lang/blade/blob/main/CODE_OF_CONDUCT.md">Code of Conduct</a>
          <span></span>
          <a href="https://github.com/blade-lang/nyssa/blob/main/LICENSE">License</a>
          <span></span>
          <a href="https://github.com/blade-lang/nyssa/issues/new">Bug Report</a>
        </nav>
        <p>
          <strong>Nyssa</strong> by <a href="https://github.com/blade-lang">Blade Contributors</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </div>
  </div>
</footer>