<form action="/search" name="searchform">
  <div class="field has-addons columns">
    <div class="control column p-0 has-icons-left">
      <input type="text" placeholder="Search..." name="q" class="input is-primary px-5 py-5 pl-6" value="{{ query }}" />
      <span class="icon is-left mt-1 ml-1">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
    </div>
    <input type="hidden" name="sort" />
    <div class="control">
      <button class="button is-primary px-6 py-5 has-text-weight-bold">Search</button>
    </div>
  </div>
</form>